<nav class="teal darken-2" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left side-nav">
              <li><a href="/">Home</a></li>
            </ul>
            <ul class="right side-nav">
              <li id="logout-btn"><a>Logout</a></li>
            </ul>
  </div>
</nav>

<header>
      <div class="col s12 center-align no-pad">
        <h1 class="header  teal-text text-darken-2">Your Dashboard</h1>
      </div>
</header>

<div class="container center-align">
    <div class="col s12 m4 l8">
      <button class="btn btn-primary" id='show-post-btn'>Create Post</button>
    </div>
  </div>
</div>

<div class="container" style="display: none;" id="post-form">
  <div class="col s12">
    <div class="card-panel grey lighten-5 ">
      <div>{{>posts}}</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      {{#each posts}}
        <a href="api/users/{{post_id}}">
         <div class="card-panel grey lighten-5 z-depth-1">
          <h6 class="teal-text"> {{title}}</h6>
          <p>{{body}}</p>
          <p>{{date}}</p>
          </div>
        </a>
      {{/each }}
    </div>
  </div>
</div>

<footer class="page-footer teal darken-2">
</footer>

<script src="../public/css/js/create-post.js"></script>
<script src="/js/logout.js"></script>