<header>
    <div class="container teal darken-2 center">
        <div class="row">
            <nav class="teal darken-2">
                <div class="col s12">
                    <div class="nav-wrapper container">
                        <ul class="left side nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/dashboard">Dashboard</a></li>
                        </ul>
                        <ul class="right side-nav">
                            <li id="logout-btn"><a>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
</header>

<div class="container">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <input id='new-title' type='text' value="{{post.title}}" class="form-control">
            <input id='new-body' type='text' value="{{post.body}}" class="form-control"></input>
            <p>{{date}}</p>
            <div>
                <button class="btn btn-primary" id="delete-btn">Delete</button>
                <button class="btn btn-primary" id="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<script src='/js/delete-post.js'></script>